<div class="container perfil-container" fxLayout="row" fxLayoutAlign="center center">
    <mat-card fxFlex="30%" fxFlex.sm="50%" fxFlex.xs="90%">
        <p class="nombre-usuario">{{ nombreUsuario }}</p>
        
        <p>Roles asignados:</p>
        <mat-chip-list>
            <mat-chip *ngFor="let rol of roles" color="primary" selected>{{ rol }}</mat-chip>
        </mat-chip-list>
    </mat-card>
</div>


