<mat-toolbar>Signos Vitales</mat-toolbar>

<router-outlet></router-outlet>

<div [hidden]="verificarHijos()">
    <div class="example-container mat-elevation-z8">

        <div class="example-header">
            <mat-form-field>
                <input matInput (keyup)="filtrar($event)" placeholder="Buscar signos" autocomplete="off">
            </mat-form-field>
        </div>

        <mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.idSignos }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="paciente">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Paciente </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.paciente.nombres }} {{ row.paciente.apellidos }}</mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="fecha">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.fecha | date: 'dd/MM/yyyy'}} </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="temperatura">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Temperatura </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.temperatura }} </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="pulso">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Pulso </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.pulso }} </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="ritmoRespiratorio">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Ritmo Respiratorio </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.ritmoRespiratorio }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <button mat-button color="primary" [routerLink]="['edicion', row.idSignos]">
                        <mat-icon>ballot</mat-icon>
                    </button>
                    <button mat-button color="accent" (click)="eliminar(row)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
        </mat-table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>

    <button mat-fab color="accent" style="float: right; margin-right: 20px" routerLink='/pages/signos/nuevo'>
        <mat-icon>add</mat-icon>
    </button>

</div>