<form class="example-container form-signos" [formGroup]="formSignos" (ngSubmit)="guardar()" #sigForm="ngForm">

    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" required formControlName="id">
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutWrap fxLayoutGap="0.5%">
        <div fxFlex="70">
            <mat-form-field fxFlex>
                <input type="text" placeholder="Paciente" matInput [matAutocomplete]="autoPaciente"
                    [formControl]="myControlPaciente" formControlName="paciente">
        
                <mat-autocomplete #autoPaciente="matAutocomplete" [displayWith]="mostrarPaciente">
                    <mat-option *ngFor="let p of pacientesFiltrados$ | async" [value]="p">
                        {{ p.nombres }} {{p.apellidos}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <div fxFlex="30">
            <button mat-raised-button color="accent" type="button" fxFlex (click)="abrirDialogoPaciente()">
                <mat-icon>add</mat-icon>
                <span>Nuevo Paciente</span>
            </button>
        </div>
    </div>
    

    <mat-form-field>
        <mat-label>Escoge una fecha</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="Fecha" [max]="maxFecha" formControlName="fecha">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input type="number" matInput placeholder="Temperatura" required formControlName="temperatura">
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
        <input type="number" matInput placeholder="Pulso" required formControlName="pulso">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input type="number" matInput placeholder="Ritmo Respiratorio" required formControlName="ritmoRespiratorio">
    </mat-form-field>

    <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutWrap fxLayoutGap="0.5%">
        <button mat-raised-button color="primary" type="submit" [disabled]="sigForm.invalid" fxFlex>
            <mat-icon>done</mat-icon>
            <span>Aceptar</span>
        </button>
        <button mat-raised-button color="accent" routerLink='/pages/signos' type="button" fxFlex>
            <mat-icon>close</mat-icon>
            <span>Cancelar</span>
        </button>
    </div>
    
</form>

<br />